---
import Icon from '@atoms/Icon.astro'
import _slug from '@scripts/slug'
import _slugify from '@scripts/slugify'
import _empty from '@scripts/empty'
import NavDropdownParent from '@atoms/NavDropdownParent.astro'
import NavDropdownChild from '@atoms/NavDropdownChild.astro'

const { links, class: classes, ...props } = Astro.props
---

<ul class:list={[classes, '']} {...props}>
	{
		links.map((link, index) => (
			<li class='group/li relative flex'>
				<NavDropdownParent link={link} />
				<ul class='absolute top-0 max-h-[576px]'>
					{link.children.map((link) => (
						<li class='flex'>
                            <NavDropdownChild link={link}/>
						</li>
					))}
				</ul>
			</li>
		))
	}
</ul>
