---
import Icon from '@atoms/Icon.astro'
import _slug from '@scripts/slug'
import _slugify from '@scripts/slugify'
import _empty from '@scripts/empty'
import NavDropdownParent from '@atoms/NavDropdownParent.astro'

const { links, class: classes, ...props } = Astro.props
---

<ul class:list={[classes, '']} {...props}>
	{
		links.map((link, index) => (
			<li class='group/li relative flex'>
				<div class="py-6">
					<NavDropdownParent link={link} />
				</div>
				<div class="py-6">
                    {index + 1}
                </div>
			</li>
		))
	}
</ul>
