---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import { _sectionPadding, _xPadding } from '@scripts/snips'
import CardExpertise from '@blocks/CardExpertise.astro'
import _getAfricaExpertise from '@scripts/collections/get-africa-expertise'

const { blok } = Astro.props
const africaExpertiseData = await _getAfricaExpertise()
const africaExpertise = africaExpertiseData.data.stories
---

<Section
	component={blok.component}
	title={blok.title}
	overlap
	class='r-hide-overflow overflow-y-clip z-20'>
	<Wrapper
		class='grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-y-6 md:gap-x-6 lg:gap-x-8 md:gap-y-8 lg:gap-10'>
		{africaExpertise.map((i, x) => <CardExpertise item={i} />)}
	</Wrapper>
</Section>
