---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import { _sectionPadding } from '@scripts/snips'
import { _people } from '@scripts/store'
import CardPerson from '@blocks/CardPerson.astro'

const { blok } = Astro.props,
	sortedPeople = _people.value.sort((a, b) =>
		parseFloat(
			a.content.byline[0].content.rank - b.content.byline[0].content.rank,
		),
	)
---

<Section
	component={blok.component}
	title={blok.title}
	overlap
	class='r-hide-overflow overflow-y-clip z-20 bg-[var(--color-bg-default)] rounded-t-[2rem] md:rounded-t-[3.5rem] lg:rounded-t-[4.5rem]'>
	<Wrapper>
		<Grid split='sidebar' class=''>
			<div class='self-start sticky top-0 z-20 bg-[var(--color-bg-default)] xl:bg-transparent xl:pt-8'>
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Aspernatur pariatur nihil voluptate libero saepe quam soluta
				quaerat, quisquam at! Qui rem ratione dicta voluptatem porro
				blanditiis fuga labore doloremque voluptas.
			</div>
			<div
				class='flex items-center justify-center xl:justify-start flex-wrap gap-6 lg:gap-8 relative z-10 pt-4 lg:pt-8'>
				{
					sortedPeople.map((person, idx) => (
						<CardPerson person={person} tag='h3' responsive />
					))
				}
			</div>
		</Grid>
	</Wrapper>
</Section>
