---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import { _sectionPadding, _xPadding } from '@scripts/snips'
import { _people } from '@scripts/store'
import CardPerson from '@blocks/CardPerson.astro'
import ButtonFab from '@atoms/ButtonFab.astro'
import InputText from '@atoms/InputText.astro'

const { blok } = Astro.props,
	sortedPeople = _people.value.sort((a, b) =>
		parseFloat(
			a.content.byline[0].content.rank - b.content.byline[0].content.rank,
		),
	)
---

<Section
	component={blok.component}
	title={blok.title}
	overlap
	class='r-hide-overflow overflow-y-clip z-20 bg-[var(--color-bg-default)] rounded-t-[2rem] md:rounded-t-[3.5rem] lg:rounded-t-[4.5rem]'>
	<Wrapper margins={false}>
		<Grid split='sidebar' class=''>
			<div
				class:list={[
					'self-start sticky -top-px z-20 bg-[var(--color-bg-default)] xl:bg-transparent xl:pt-8 flex flex-col group [&.is-pinned]:shadow xl:!shadow-none',
					_xPadding('both-lgdown'),
				]}
				data-pin-top>
				<div
					class='flex items-center justify-between pt-3 group-[&.is-pinned]:pb-3 gap-3'>
					<InputText label='Search' id='text' class='w-full' />
					<ButtonFab
						icon='funnel'
						label='Toggle Page Sorting & Filtering'
						class='xl:sr-only flex-shrink-0'
					/>
				</div>
				<div class='hidden xl:flex xl:flex-col'>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit.
					Inventore perferendis porro ipsum qui, ex dolor modi
					accusantium facilis odit dolorum quas numquam maiores?
					Reiciendis in ad, voluptates reprehenderit rem impedit.
				</div>
			</div>
			<div
				class:list={[
					'flex items-center justify-center xl:justify-start flex-wrap gap-6 lg:gap-8 relative z-10 pt-4 lg:pt-8',
					_xPadding('both-lgdown-l'),
				]}>
				{
					sortedPeople.map((person, idx) => (
						<CardPerson person={person} tag='h3' responsive />
					))
				}
			</div>
		</Grid>
	</Wrapper>
</Section>
