---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import { _sectionPadding } from '@scripts/snips'
import { _people } from '@scripts/store'
import CardPerson from '@blocks/CardPerson.astro'

const { blok } = Astro.props,
	sortedPeople = _people.value.sort((a, b) =>
		parseFloat(
			a.content.byline[0].content.rank - b.content.byline[0].content.rank,
		),
	)

console.log(Number(_people.value[0].content.byline[0].content.rank))
---

<Section
	component={blok.component}
	title={blok.title}
	overlap
	class='r-hide-overflow z-20'>
	<Wrapper class:list={['overflow-x-clip']}>
		<Grid split='sidebar' class=''>
			<div class='self-start sticky top-0 z-10'>
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Aspernatur pariatur nihil voluptate libero saepe quam soluta
				quaerat, quisquam at! Qui rem ratione dicta voluptatem porro
				blanditiis fuga labore doloremque voluptas.
			</div>
			<ul
				class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 lg:gap-8'>
				{
					sortedPeople.map((person, idx) => (
						<li class='flex'>
							<CardPerson person={person} tag='h3' responsive />
						</li>
					))
				}
			</ul>
		</Grid>
	</Wrapper>
</Section>
