---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import Text from '@atoms/Text.astro'
import { _sectionPadding } from '@scripts/snips'
import BrandCutDown from '@atoms/BrandCutDown.astro'
import ButtonMore from '@atoms/ButtonMore.astro'
import Breadcrumb from '@blocks/Breadcrumb.astro'
import _empty from '@scripts/empty'
import _slug from '@scripts/slug'
import Image from '@atoms/Image.astro'

const { item, class: classes, ...props } = Astro.props
---

<Section
	component={item.component}
	header
	section={false}
	class:list={(['r-hide-overflow'], classes)}
	{...props}>
	<Wrapper>
		<Grid grid='4-12-12' class=''>
			<div class='col-span-full ml:[grid-area:1/1/2/7]'>
				<div
					class='h-[24.5rem] xs:h-[30rem] lg:h-[32rem] rounded-t-[1.5rem] md:rounded-t-[3.5rem] rounded-bl-[1.5rem] md:rounded-bl-[3.5rem] rounded-br-[15rem] md:rounded-br-[20rem] overflow-clip'>
					<Image
						filename={item.image.filename}
						alt={item.image.alt}
						filter
						class:list={['h-full']}
					/>
				</div>
			</div>
			<div class='col-span-full ml:[grid-area:1/7/2/13] w-full flex'>
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus
				laborum nam reiciendis accusamus quo sunt ratione officiis? Id
				blanditiis architecto quasi ad possimus rerum autem dolorum cum,
				quod consectetur quas.
			</div>
		</Grid>
	</Wrapper>
</Section>
