---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import Text from '@atoms/Text.astro'
import { _sectionPadding } from '@scripts/snips'
import BrandCutDown from '@atoms/BrandCutDown.astro'
import ButtonMore from '@atoms/ButtonMore.astro'
import Breadcrumb from '@blocks/Breadcrumb.astro'
import _empty from '@scripts/empty'
import _slug from '@scripts/slug'
import Image from '@atoms/Image.astro'

const { item, class: classes, ...props } = Astro.props
---

<Section
	component={item.component}
	header
	section={false}
	class:list={['r-hide-overflow'], classes}
    {...props}>
	<Wrapper inset>
		<Grid class='gap-3 gap-y-8 sm:gap-y-12 md:gap-6 lg:gap-8 z-20'>
			<div
				class='col-span-full md:[grid-area:1/1/2/5] lg:[grid-area:1/1/2/6]'>
				ABCDEF
			</div>
			<div
				class='col-span-full md:[grid-area:1/5/2/9] lg:[grid-area:1/6/2/13]'>
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus laborum nam reiciendis accusamus quo sunt ratione officiis? Id blanditiis architecto quasi ad possimus rerum autem dolorum cum, quod consectetur quas.
			</div>
		</Grid>
	</Wrapper>
	<BrandCutDown class='z-[-1]' />
</Section>
