---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import Text from '@atoms/Text.astro'
import ButtonLink from '@atoms/ButtonLink.astro'
import { _sectionPadding } from '@scripts/snips'
import Icon from '@atoms/Icon.astro'
import BrandCutout from '@atoms/BrandCutout.astro'
import ButtonMore from '@atoms/ButtonMore.astro'
import Breadcrumb from '@blocks/Breadcrumb.astro'
import _empty from '@scripts/empty'
import _slugify from '@scripts/slugify'
import { _hideBrandcutout } from '@scripts/hide-brandcutout'

const {
	blok,
	altComponent,
	breadcrumbLink,
	breadcrumbLabel,
	altTitle,
	altCopy,
	class: classes,
	...props
} = Astro.props
const currentPath = Astro.url.pathname
const isExcluded = _hideBrandcutout(currentPath)
const copy = altCopy ? altCopy : blok.copy
---

<Section
	component={altComponent ? altComponent : blok.component}
	header
	section={false}
	class:list={[
		'r-hide-overflow min-h-[16.5rem] md:min-h-[20rem] lg:min-h-[22rem]',
		classes,
	]}
	{...props}>
	<Wrapper inset>
		<Grid class='gap-y-5 md:gap-y-12 lg:gap-y-14'>
			<div class='col-span-full md:col-span-8'>
				<div
					class='flex flex-col gap-2 sm:gap-3 sm:pr-8 lg:pr-16 max-w-screen-sm ml:max-w-screen-md lg:max-w-screen-lg'>
					<Breadcrumb
						altLink={breadcrumbLink
							? breadcrumbLink
							: blok.link[0].link}
						labelText={breadcrumbLabel
							? breadcrumbLabel
							: 'JEE Home'}
						page={altTitle ? altTitle : blok.title}
					/>
					<Text
						tag='h2'
						text={altTitle ? altTitle : blok.headline}
						color='title'
						size='3'
						weight='extra'
						tighten
					/>
					{
						!_empty(copy) && copy.length > 1 && (
							<Text
								tag='p'
								text={copy}
								color='body'
								size='copy'
								class='mt-1'
							/>
						)
					}
				</div>
			</div>
		</Grid>
	</Wrapper>
	{
		!isExcluded && (
			<BrandCutout
				top
				bottom={false}
				class='md:!top-[80%] lg:!top-[55%]'
			/>
		)
	}
</Section>
