---
const { blok, class: classes, ...props } = Astro.props
---

<section
	{...props}
	class:list={[
		// Default Classes
		'',

		// Classes can be passed in when called
		classes,
	]}>
	Header Image Expressive...
</section>
