---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import Text from '@atoms/Text.astro'

const { blok, class: classes, ...props } = Astro.props
---

<Section component={blok.component} poster section={false}>
	<Wrapper class=''>
		<Grid class='xl:px-18 gap-y-4'>
			<div class='col-span-full md:col-span-5 lg:col-span-7'>
				<Text
					tag='h2'
					text={blok.headline}
					color='title'
					size='2'
					family='display'
					weight='extra'
					tighten
					class=''
				/>
			</div>
			<div
				class='col-span-full md:col-span-3 md:col-start-6 lg:col-span-5 lg:col-start-8 md:pt-8 lg:pt-12 2xl:pt-14 max-w-screen-sm'>
				<Text
					tag='p'
					text={blok.copy}
					color='body'
					size='copy'
					family='display'
					class=''
				/>
			</div>
			<div class='col-span-full'>C</div>
		</Grid>
		<div>D</div>
	</Wrapper>
</Section>
