@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Fixed Colors */
        --color-main: #E80000;
        --color-main-inverted: #FF2626;
        --color-dark: #211B1B;
        --color-muted: #D1D1D1;
        --color-muted-dark: #382E2E;
        --color-lightest: #FFFDF3;
        --color-lightest-elevated: #F2ECD3;
        --color-accent: #FDC287;
        --color-gray-200: #D1D1D1;
        --color-gray-300: #B0B0B0;

        /* Variable Colors Light/Dark */
        --color-surface-dark: var(--color-dark);

        --color-bg-default: var(--color-lightest);
        --color-bg-default-elevated: var(--color-lightest-elevated);
        --color-bg-neutral-gray: #F4F3F2;

        --color-text-title: #211B1B;
        --color-text-body: #333333;
        --color-text-caption: #454545;
        --color-text-emphasis: var(--color-main);

        --color-emphasis: var(--color-main);

        --color-border-muted: var(--color-gray-200);
        --color-border-accent: var(--color-accent);
        --color-border-subtle: var(--color-gray-300);

        @media (prefers-color-scheme: dark) {

        }
    }

    html.is-changing .swup-in {
        @apply opacity-100 duration-[.4s] ease-[cubic-bezier(0,0.16,0,1)];
    }
    html.is-animating .swup-in {
        @apply opacity-0 scale-[.99] translate-y-10 ease-in;
    }
    .swup-progress-bar {
        @apply h-1;
    }
    main:focus {
        outline: none;
    }
    button {
        text-align: inherit;
    }
    a, button, .r-transition { @apply transition duration-[250ms] ease-out; }

    svg, button span {
        @apply flex-shrink-0 pointer-events-none fill-current;
    }
    br[key] {
        display: none;
    }
    span, svg {
        transition: inherit;
    }
    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .glide__slide--active {
        z-index: 1;
    }
}

@layer components {
    .fix-svg-stroke path {
        stroke: currentColor;
    }
    .r-dead-center {
        @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
    }
}

@layer utilities {

}