@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-main: #E80000;
        --color-dark: #211B1B;
        --color-muted: #D1D1D1;

        --color-bg-default: #FFFDF3;
        --color-bg-default-elevated: #F2ECD3;
        --color-bg-neutral-gray: #F4F3F2;

        --color-text-title: #211B1B;
        --color-text-body: #333333;
        --color-text-caption: #454545;
        --color-text-emphasis: var(--color-main);

        --color-emphasis: var(--color-main);

        --color-border-muted: #D1D1D1;

        @media (prefers-color-scheme: dark) {
            
        }
    }

    html.is-changing .swup-in {
        @apply opacity-100 duration-[.4s] ease-[cubic-bezier(0,0.16,0,1)];
    }
    html.is-animating .swup-in {
        @apply opacity-0 scale-[.99] translate-y-10 ease-in;
    }
    .swup-progress-bar {
        @apply h-1;
    }
    main:focus {
        outline: none;
    }
    button {
        text-align: inherit;
    }
    a, button { @apply transition duration-200 ease-out; }

    svg, button span {
        @apply flex-shrink-0 pointer-events-none fill-current;
    }
    br[key] {
        display: none;
    }
    span, svg {
        transition: inherit;
    }
    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .glide__slide--active {
        z-index: 1;
    }
}

@layer components {

}

@layer utilities {

}