@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Fixed Colors */
        --color-main: #E80000;
        --color-main-inverted: #FF4747;
        --color-secondary: #FDC287;
        --color-secondary-inverted: #FED6AA;
        --color-dark: #211B1B;
        --color-muted: #D1D1D1;
        --color-muted-dark: #382E2E;
        --color-lightest: #FFFDF3;
        --color-lightest-elevated: #F2ECD3;
        --color-accent: #FDC287;
        --color-gray-200: #D1D1D1;
        --color-gray-300: #B0B0B0;
        --color-gray-400: #888888;
        --color-red-500: #FF2626;
        --color-brown-100: #E4E0DD;
        --color-brown-900: #2D2525;

        /* Variable Colors Light/Dark */
        --color-surface-dark: var(--color-dark);

        --color-bg-default: var(--color-lightest);
        --color-bg-default-elevated: var(--color-lightest-elevated);
        --color-bg-neutral-gray: #F4F3F2;
        --color-elevation-1-inverted: var(--color-brown-900);

        --color-text-title: #211B1B;
        --color-text-title-inverted: var(--color-lightest);
        --color-text-body: #333333;
        --color-text-caption: #454545;
        --color-text-muted: var(--color-gray-400);
        --color-text-emphasis: var(--color-main);
        --color-text-emphasis-hover: var(--color-red-500);

        --color-emphasis: var(--color-main);
        --color-backdrop: var(--color-dark);
        --color-accent: var(--color-secondary);

        --color-border-muted: var(--color-gray-200);
        --color-border-accent: var(--color-accent);
        --color-border-subtle: var(--color-gray-300);

        /* Spacing */
        --spacing-1: theme('spacing.16');
        --spacing-2: theme('spacing.18');
        --spacing-3: theme('spacing.20');

        @media (prefers-color-scheme: dark) {

        }
    }

    html {
        @apply scroll-p-10 md:scroll-p-14 lg:scroll-p-20;
    }
    html.is-changing .swup-in {
        @apply opacity-100 duration-[.4s] ease-[cubic-bezier(0,0.16,0,1)];
    }
    html.is-animating .swup-in {
        @apply opacity-0 scale-[.99] translate-y-10 ease-in;
    }
    .swup-progress-bar {
        @apply h-0.5 bg-[var(--color-main)];
    }
    main:focus {
        outline: none;
    }
    button {
        text-align: inherit;
    }
    a, button, .r-transition { @apply transition duration-300 ease-out focus:ring-2 focus:ring-inset focus:ring-[var(--color-emphasis)] outline-none focus:rounded-md; }

    svg, button span {
        @apply flex-shrink-0 pointer-events-none fill-current;
    }
    svg.spinner { @apply !fill-none; }
    svg.spinner circle { @apply opacity-25; }
    svg.spinner path { @apply opacity-75 }
    br[key] {
        display: none;
    }
    span, svg {
        transition: inherit;
    }
    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .swiper-pagination-bullet-active {
        background: var(--color-main) !important;
    }
}

@layer components {
    .fix-svg-stroke path {
        stroke: currentColor;
    }
    .r-absolute-center { @apply absolute; }
    .r-dead-center, .r-absolute-center {
        @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
    }
    .r-hide-overflow {
        @apply [transform:translateZ(0)] overflow-x-clip;
    }
}

@layer utilities {

}