---
import BlockAccordion from '@blocks/BlockAccordion.astro'
import BlockDistribution from '@blocks/BlockDistribution.astro'
import CardCountry from '@blocks/CardCountry.astro'
import HeadingStretch from '@blocks/HeadingStretch.astro'
import HeaderIp from '@composites/headers/HeaderIp.astro'
import Grid from '@layouts/Grid.astro'
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import { _empty } from '@scripts/utils/empty'
import _slugify from '@scripts/slugify'
import { _gridGap } from '@scripts/snips'
import { _getAfricaIp } from '@scripts/data/get-africa-ip'

const { blok } = Astro.props
const region = blok.region
const ip = await _getAfricaIp()
const related = ip.filter((i) => i.content.region === region)
---

<HeaderIp
	pageData={blok}
	breadcrumbLink='/ip'
	breadcrumbLabel='Africa IP Practice'
/>

<Section component={'description'} overlap id={_slugify('description')}>
	<Wrapper inset>
		<div
			class:list={[
				'bg-[var(--color-bg-default-elevated)] rounded-2xl md:rounded-[1.5rem] px-4 sm:px-6 md:px-12 py-6 sm:py-8 md:py-10 lg:py-[4.5rem] flex flex-col',
				_gridGap('y'),
			]}>
			{
				blok.description.content[0].content?.length && (
					<BlockDistribution
						heading='Description'
						body={blok.description}
					/>
				)
			}
			<BlockAccordion
				heading={blok.registers_title ?? 'JEE Practice Details'}
				registers={blok.registers}
			/>
		</div>
	</Wrapper>
</Section>
<Section component={'related-ips'} overlap id={_slugify('related-ips')}>
	<Wrapper inset>
		<Grid grid='4-12-12' class:list={[_gridGap('y')]}>
			<HeadingStretch
				tag='h2'
				text={'Related IPs'}
				class='min-w-[12rem] max-w-[13rem]'
			/>
			<ul
				class='col-span-full ml:[grid-area:1/4/2/13] grid grid-cols-2 sm:grid-cols-3 ml:grid-cols-4 gap-4'>
				{related.map((i) => <CardCountry entry={i} />)}
			</ul>
		</Grid>
	</Wrapper>
</Section>
