---
import SectionSpy from '@blocks/SectionSpy.astro'
import HeaderPerson from '@composites/headers/HeaderPerson.astro'
import SectionStack from '@composites/sections/SectionStack.astro'
import Grid from '@layouts/Grid.astro'
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import { _sectionPadding, _xPadding } from '@scripts/snips'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props
---

<HeaderPerson person={blok} />
<Section
	tag='div'
	overlap
	spy
	class='r-hide-overflow overflow-y-clip z-20 bg-[var(--color-bg-default)]'>
	<Wrapper margins={false} class:list={['overflow-x-clip']}>
		<Grid>
			<div
				class:list={[
					'col-span-full md:[grid-area:1/1/2/3] lg:[grid-area:1/1/2/4] self-start sticky bg-[var(--color-bg-default)] z-10 -top-px [&.is-pinned]:shadow xl:!shadow-none overflow-auto',
					_xPadding('both-lgdown'),
					_sectionPadding('top-md-up'),
				]}
				data-pin-top>
				<SectionSpy
					headings={['Biography']}
					breakAt='md'
					data-spy-sections
				/>
			</div>
			<div
				class:list={[
					'col-span-full md:[grid-area:1/3/2/9] lg:[grid-area:1/5/2/11]',
					_xPadding('both-mddown-lg-l'),
				]}>
				<SectionStack blok={blok.bio[0]} showLess xPadding={false} />
			</div>
		</Grid>
	</Wrapper>
</Section>
