---
import HeaderExpertise from '@composites/headers/HeaderExpertise.astro'
import Grid from '@layouts/Grid.astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props
---

<HeaderExpertise
	item={blok}
	heads={blok.contacts[0]}
	breadcrumbLink='/practices'
	breadcrumbLabel='JEE Practices'
	class='col-span-full'
/>
<div class='col-span-full'>
	{
		blok.body.map((blok) => {
			return <StoryblokComponent blok={blok} />
		})
	}
</div>
