---
import HeaderExpertise from '@composites/headers/HeaderExpertise.astro'
import Grid from '@layouts/Grid.astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props,
	url = Astro.url,
	pathname = url.pathname,
	parent = pathname.split('/')[1]
---

<HeaderExpertise
	item={blok}
	heads={blok.contacts[0]}
	breadcrumbLink={`/${parent}`}
	breadcrumbLabel={parent === 'africa-expertise'
		? 'JEE Africa Expertise'
		: 'JEE Practices'}
	class='col-span-full'
	flipped
/>
<div class='col-span-full'>
	{
		blok.body.map((blok) => {
			return <StoryblokComponent blok={blok} />
		})
	}
</div>
