---
import Icon from '@atoms/Icon.astro'

const { top, bottom = true, class: classes, ...props } = Astro.props
---

<div
	class:list={[
		'absolute -right-1 sm:-right-3 md:-right-8 lg:-right-18',
		bottom && 'bottom-[-85%] md:bottom-[-140%] xl:bottom-[-130%]',
        top && 'top-[95%] sm:top-[75%] md:top-[66%] lg:top-[46%] xl:top-[44%]',
        classes
	]}
    {...props}>
	<Icon
		name='cutout-up'
		class='w-[40rem] md:w-[45rem] lg:w-[58rem] scale-105 h-auto text-[var(--color-main)]'
	/>
</div>
