---
import Icon from '@atoms/Icon.astro'
---

<div
	class='absolute bottom-[-85%] md:bottom-[-140%] xl:bottom-[-130%] -right-1'>
	<Icon
		name='cutout-up'
		class='w-[560px] md:w-[720px] lg:w-[920px] scale-105 h-auto text-[var(--color-main)]'
	/>
</div>
