---
import Icon from '@atoms/Icon.astro'
---

<div
	class='absolute inset-0 w-full scale-105 z-[-1] h-[27rem] sm:h-[35rem] md:h-[50rem] lg:h-[52rem]'>
	<Icon name='largelight' class='text-[var(--color-main)] size-full' />
</div>
