---
import Icon from '@atoms/Icon.astro'
import Text from '@atoms/Text.astro'
import _slug from '@scripts/slug'

const {
		link,
		tag = 'a',
		label,
		theme = 'dark',
		icon,
		iconRight,
		class: classes,
		...props
	} = Astro.props,
	Tag = tag
---

<Tag
	{...link ? { href: _slug(link) } : {}}
	class:list={[
		'text-[var(--color-lightest)] h-[2.75rem] lg:h-[3.0625rem] flex flex-col justify-center min-w-28 max-w-fit rounded-full px-5 group relative',
		theme === 'dark' && 'bg-[var(--color-surface-dark)]',
		classes,
	]}
	{...props}>
	<div class='flex items-center space-x-3'>
		<Text
			text={label}
			size='button'
			family='display'
			class:list={[
				'flex translate-y-[-1px] opacity-95 group-hover:opacity-100 font-semibold md:font-medium',
				iconRight ? '' : 'w-full',
			]}
		/>
		{iconRight && <Icon name={icon} class='size-5 text-inherit' />}
	</div>
	<Icon
		name='highlight'
		class='fix-svg-stroke w-6 lg:w-7 text-[var(--color-main-inverted)] opacity-0 translate-y-1.5 group-hover:opacity-100 group-hover:-translate-y-1 absolute bottom-0'
	/>
</Tag>
