---
import Icon from '@atoms/Icon.astro'

const { link, class: classes, ...props } = Astro.props
---

<button
	class:list={[
		'text-[var(--color-text-caption)] hover:text-[var(--color-text-emphasis)] h-10 flex items-center group',
		classes,
	]}
	{...props}>
	<span
		set:text={link.label}
		class='text-[0.9rem] uppercase font-semibold tracking-wide block'
	/>
	<Icon
		name='chevron-right'
		class='w-4 text-[var(--color-text-emphasis)] group-hover:translate-x-0.5 block'
	/>
</button>
