---
import Icon from '@atoms/Icon.astro'

const { link, class: classes, ...props } = Astro.props
---

<button
	class:list={[
		'text-[var(--color-text-caption)] hover:text-[var(--color-text-emphasis)] h-10 flex items-center group',
		classes,
	]}
	{...props}>
	<span class="text-[0.975rem] uppercase font-medium tracking-wide">{link.label}</span>
	<Icon name='caret-right' class='w-4 text-[var(--color-text-emphasis)] group-hover:translate-x-0.5 block transition duration-300' />
</button>
