---
import Icon from '@atoms/Icon.astro'

const {
	link,
	label,
	icon,
	style = 'default',
	flipIcon,
	shadow,
	class: classes,
	...props
} = Astro.props
---

<button
	class:list={[
		'w-10 h-10 flex items-center justify-center group rounded-full',
		classes,
		style === 'default' &&
			'bg-[var(--color-bg-default-elevated)] text-[var(--color-text-emphasis)]',
		style === 'blank' && 'bg-transparent text-[var(--color-text-body)]',
		style === 'blank-brand' &&
			'bg-transparent text-[var(--color-text-emphasis)]',
		style === 'brand' && 'bg-[var(--color-emphasis)] text-white',
		style === 'brand-inverted' &&
			'bg-[var(--color-main-inverted)] text-white',
		shadow && 'shadow hover:shadow-md',
	]}
	{...props}
	aria-label={label}>
	<Icon
		name={icon}
		class:list={[
			'w-[23px] text-inherit group-hover:scale-[1.15] block',
			flipIcon && 'rotate-90',
		]}
	/>
</button>
