---
import Text from './Text.astro'

const { link, class: classes, ...props } = Astro.props
---

<button
	class:list={[
		'h-16 w-[248px] px-6 hover:bg-[var(--color-bg-neutral-gray)] hover:border-r-[3px] hover:border-[var(--color-emphasis)]',
		classes,
	]}
	{...props}>
	<Text
		text={link.label}
		size='6'
		weight='bold'
		family='display'
		color='title'
	/>
</button>
