---
import Text from '@atoms/Text.astro'
import _slug from '@scripts/slug'

const { link, class: classes, ...props } = Astro.props
---

<a href={_slug(link.link)} class='size-full'>
    <Text
        size='1hx'
        text={link.label}
        color='title-light'
        weight="semi"
        class='opacity-100 group-hover/link:opacity-80'
    />
</a>
