---
const { class: classes, ...props } = Astro.props
---

<div
	{...props}
	class:list={[
		`
            prose !max-w-none

        `,
		classes,
	]}>
	<slot />
</div>

<style is:global>
	li > p {
		@apply !my-0;
	}
</style>
