---
const { class: classes, ...props } = Astro.props
---

<div
	{...props}
	class:list={[
		`
            prose !max-w-none
            prose-li:list-image-[url(/graphics/marker.svg)]
            [&>li]:!my-0
        `,
		classes,
	]}>
	<slot />
</div>
