---
import Grid from '@layouts/Grid.astro'
import { _xPadding, _gridGap, _spaceY } from '@scripts/snips'
import _slugify from '@scripts/slugify'
import HeadingStretch from '@blocks/HeadingStretch.astro'
import RichText from '@atoms/RichText.astro'
import Text from '@atoms/Text.astro'
import Icon from '@atoms/Icon.astro'

const {
	entry,
	heading,
	registers,
	contain = true,
	class: classes,
	...props
} = Astro.props
const accordions = entry?.accordion ?? registers
---

<Grid grid='4-12-12' class:list={[_gridGap(), classes]} {...props}>
	<div
		class:list={[
			'col-span-full ml:[grid-area:1/1/2/4] flex flex-col gap-8 md:flex-row md:flex-wrap md:gap-10',
			contain ? 'lg:[grid-area:1/2/2/6]' : 'lg:[grid-area:1/1/2/7]',
		]}>
		<div class='flex flex-col gap-8 md:flex-row'>
			<HeadingStretch
				tag='h2'
				text={entry?.heading ?? heading}
				class='min-w-[12rem] max-w-[13rem]'
			/>
		</div>
	</div>
	<div
		class:list={[
			'col-span-full ml:[grid-area:1/4/2/13] relative',
			contain ? 'lg:[grid-area:1/6/2/12]' : 'lg:[grid-area:1/7/2/13]',
			_spaceY(),
		]}>
		<ul>
			{
				accordions.map((i) => (
					<li class='accordion group border-t border-(--color-border-muted) first:border-0 first:-mt-4'>
						<div
							class='accordion__button group/button r-transition flex items-center justify-between h-14 cursor-pointer'
							aria-expanded='false'
							aria-controls={`${i.heading || i.item}`}>
							<Text
								size='emphasis'
								text={i.heading || i.item}
								weight='semi'
								color='title'
								class='group-hover/button:opacity-100 group-[.is-active]:opacity-100 pointer-events-none'
							/>
							<Icon
								name='caret-down'
								aria-hidden='true'
								class='accordion__icon block w-5 text-(--color-text-title) opacity-60 group-hover/button:opacity-100 shrink-0 transition-all group-[.is-active]:opacity-100'
							/>
						</div>
						<div class='accordion__content max-h-0 overflow-hidden transition-all ease-in-out'>
							<RichText
								text={i.body || i.details}
								pType='body'
								class='pb-5'
							/>
						</div>
					</li>
				))
			}
		</ul>
	</div>
</Grid>
