---
import ButtonMore from '@atoms/ButtonMore.astro'
import Text from '@atoms/Text.astro'
import _slug from '@scripts/slug'

const {
	link,
	altLink = '/',
	labelText = 'JEE Home',
	page,
	class: classes,
	...props
} = Astro.props
---

<div class:list={['flex items-center gap-3', classes]} {...props}>
	<ButtonMore
		link={link ? link[0].link : _slug(altLink)}
		label={link ? link[0].label : labelText}
	/>
	<div
		class='px-4 py-1.5 border-l-[1.5px] border-[var(--color-border-subtle)] overflow-clip'>
		<Text
			text={page}
			color='caption'
			size='emphasis-upper'
			weight='semi'
			loosen
			uppercase
			class='inline-block truncate text-ellipsis max-w-36 -translate-y-0.5'
		/>
	</div>
</div>
