---
import Text from '@atoms/Text.astro'
const { title, designation, class: classes, ...props } = Astro.props
---

<div
	class:list={[
		'flex flex-col gap-[0.1875rem]',
		classes,
	]}
	{...props}>
	<Text tag='p' text={title} color='white' size='6' weight='bold' family='display' />
	<Text tag='p' text={designation} color='accent' size='blurb' weight='medium' />
</div>
