---
import Text from '@atoms/Text.astro'

const {
	title,
	tag = 'p',
	designation,
	size = 'default',
	class: classes,
	...props
} = Astro.props
---

<div
	class:list={[
		'flex flex-col',
		size === 'mini' ? 'gap-[0.04rem]' : 'gap-[0.15rem]',
		classes,
	]}
	{...props}>
	<Text
		tag={tag}
		text={title}
		color='white'
		size=`${size === 'mini' ? 'copy' : '6'}`
		weight='semi'
		family='display'
	/>
	<Text
		tag='p'
		text={designation}
		color='accent'
		size='blurb'
		weight='medium'
        class='line-clamp-1'
	/>
</div>
