---
import Icon from '@atoms/Icon.astro'
import Text from '@atoms/Text.astro'

const { tag = 'li', entry, class: classes, ...props } = Astro.props,
	Tag = tag
---

<Tag
	class='group bg-(--color-bg-default-elevated) rounded-xl overflow-clip'>
	<a
		href={`/${entry.full_slug}`}
		class='size-full flex flex-col justify-center items-center gap-3 px-4 py-6'>
		<Icon
			name={entry.content.country}
			class='size-12 md:size-14 shrink-0 group-hover:scale-110'
		/>
		<Text
			tag='h3'
			text={entry.content.title}
			color='title'
			weight='medium'
			size='blurb'
			class='group-hover:text-(--color-emphasis) text-center r-transition'
		/>
	</a>
</Tag>
