---
import Icon from '@atoms/Icon.astro'
import Image from '@atoms/Image.astro'
import Text from '@atoms/Text.astro'
import _slug from '@scripts/slug'

const { piece, class: classes, ...props } = Astro.props
---

<a
	href={_slug(piece.full_slug)}
	class:list={['size-full group', classes]}
	{...props}>
	<div class='relative overflow-clip grid grid-cols-1'>
		<div
			class='rounded-tl-[1.5rem] rounded-tr-[3.5rem] rounded-bl-[2rem] rounded-br-[9rem] relative overflow-clip [grid-area:1/1/2/2] size-full'>
			<Image
				filename={piece.content.image.filename}
				alt={piece.content.image.alt}
				filter
				class:list={[
					'h-[19rem] transition-transform duration-200 lg:group-hover:scale-110',
				]}
			/>
		</div>
		<div class='[grid-area:1/1/2/2] mt-[11rem] ml-6 mr-8 z-10'>
			<div class='bg-[var(--color-bg-default)] rounded-[1.5rem] !rounded-br-none'>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
				beatae cum aliquam, asperiores, veniam quae cupiditate at
				molestias ea commodi pariatur ullam voluptatem aspernatur! Ullam
				similique voluptates maiores illum iure!
			</div>
		</div>
	</div>
</a>
