---
import Icon from '@atoms/Icon.astro'
import Text from '@atoms/Text.astro'

const {
	title,
	description,
	facing = 'west',
	class: classes,
	...props
} = Astro.props
---

<div
	class:list={[
		'w-[18.5rem] h-[24.5rem] bg-[var(--color-bg-default-elevated)]',
		classes,
	]}
	{...props}>
	<div class='h-[25%]'>
		Image...
	</div>
	<div
		class:list={[
			'bg-[var(--color-emphasis)]',
			facing === 'west' && 'rounded-tl-[8.5rem] rounded-tr-[1.5rem]',
			facing === 'east' && 'rounded-tr-[8.5rem] rounded-tl-[1.5rem]',
		]}>
		Icon...
	</div>
</div>
