---
import Text from '@atoms/Text.astro'

const {
	title,
	description,
	facing = 'west',
    dim = true,
	class: classes,
	...props
} = Astro.props
---

<div
	class:list={[
		'w-[18.5rem] h-[24.5rem] border-[8px] border-[var(--color-dark)]',
		classes,
	]}
	{...props}>
	<div class='h-[30%] pt-3 p-3'>
		<Text
			tag={'h4'}
			text={title}
			color='title'
			size={'s4-upper'}
			family='display'
			weight='extra'
			uppercase
		/>
	</div>
	<div
		class:list={[
			'bg-(--color-backdrop) h-[70%] p-3.5 flex flex-col justify-end',
			facing === 'west' && 'rounded-tl-[8rem] rounded-tr-[1.5rem]',
			facing === 'east' && 'rounded-tr-[8rem] rounded-tl-[1.5rem]',
		]}>
        <Text
            tag={'p'}
            text={description}
            color='title-light'
            size={'sx1'}
            class:list={['min-h-20', dim && 'opacity-85']}
        />
	</div>
</div>
