---
import Icon from '@atoms/Icon.astro'
import Text from '@atoms/Text.astro'

const { tag = 'li', entry, class: classes, ...props } = Astro.props,
	Tag = tag
---

<Tag>
	<a href={`/${entry.full_slug}`} class='flex flex-col justify-center gap-3'>
		<Icon
			name={entry.content.country}
			class='size-12 md:size-14 shrink-0'
		/>
		<Text
			tag='h3'
			text={entry.content.title}
			color='title'
			weight='medium'
			size='blurb'
		/>
	</a>
</Tag>
