---
import Icon from '@atoms/Icon.astro'
import Image from '@atoms/Image.astro'
import Text from '@atoms/Text.astro'
import _slug from '@scripts/slug'

const { person, facing = 'west', class: classes, ...props } = Astro.props
---

<a
	href={_slug(person.full_slug)}
	class:list={[
		'inline-flex flex-col w-[18.5rem] h-[24.5rem] bg-[var(--color-bg-default-elevated)]',
		classes,
	]}
	{...props}>
	<div class=''>
		<Image
			filename={person.content.headshot.filename}
			alt={person.content.headshot.alt}
			class:list={['h-[23rem]']}
		/>
	</div>
	<div
		class:list={[
			'bg-[var(--color-emphasis)]',
			facing === 'west' && 'rounded-tl-[8.5rem] rounded-tr-[1.5rem]',
			facing === 'east' && 'rounded-tr-[8.5rem] rounded-tl-[1.5rem]',
		]}>
		Icon...
	</div>
</a>
