---
import Image from '@atoms/Image.astro'
import Text from '@atoms/Text.astro'

const { item, tag = 'li', class: classes, ...props } = Astro.props,
	Tag = tag
---

<Tag
	class:list={[
		'w-[21rem] ml:w-[24rem] h-[25rem] relative overflow-clip',
		classes,
	]}
	{...props}>
	<div class='grid grid-cols-1 relative overflow-clip'>
		<div
			class='rounded-tl-[1.5rem] rounded-tr-[3.5rem] rounded-bl-[2rem] rounded-br-[9rem] [grid-area:1/1/2/2] h-[18.5rem] relative overflow-clip'>
			<Image
				filename={item.content.image.filename}
				alt={item.content.image.alt}
				filter
				class:list={['h-full']}
			/>
		</div>
		<div
			class='[grid-area:1/1/2/2] mt-[10rem] ml-4 mr-4 sm:ml-5 sm:mr-7 lg:mr-8 z-10'>
			<div
				class='bg-[var(--color-bg-default)] rounded-t-[2rem] min-h-[12rem] p-4 sm:p-5 space-y-1.5'>
				<Text
					tag='h3'
					size='emphasis'
					text={item.content.headline}
					color='title'
					weight='semi'
					family='display'
                    class="pb-2"
				/>
				{
					item.content.copy && (
						<Text
							tag='p'
							size='footnote'
							text={item.content.copy}
							color='body'
                            class='line-clamp-4 pt-3 pr-4 border-t border-[var(--color-border-muted)]'
						/>
					)
				}
			</div>
		</div>
	</div>
</Tag>
