---
import Icon from '@atoms/Icon.astro'
import Image from '@atoms/Image.astro'
import Text from '@atoms/Text.astro'
import _slug from '@scripts/slug'

const { person, facing = 'west', class: classes, ...props } = Astro.props
---

<a
	href={_slug(person.full_slug)}
	class:list={[
		'grid grid-cols-1 w-full bg-[var(--color-bg-default-elevated)]',
		classes,
	]}
	{...props}>
	<div class='[grid-area:1/1/2/2]'>
		<Image
			filename={person.content.headshot.filename}
			alt={person.content.headshot.alt}
			class:list={['h-[23rem]']}
		/>
	</div>
	<div
		class:list={[
			'[grid-area:1/1/2/2]',
			facing === 'west' && '',
			facing === 'east' && '',
		]}>
		{person.content.byline[0].content.title}
	</div>
</a>
