---
import Icon from '@atoms/Icon.astro'
import _empty from '@scripts/empty'

const { images, limit = 8, class: classes, ...props } = Astro.props
---

<div class:list={[classes, 'carousel-plaques']} {...props}>
	<div class='scrollbar-hide glide__track relative' data-glide-el='track'>
		<div class='glide__slides !space-x-3 md:!space-x-4 lg:!space-x-6 justify-end'>
			{
				images
					.filter((item) => !_empty(item.content.plaque.filename))
					.map((item) => (
                        <img
                            src={item.content.plaque.filename}
                            alt={item.content.name}
                            class='object-contain object-top glide__slide !w-20 lg:!w-24 !h-auto !mx-0'
                        />
					))
			}
		</div>
	</div>
</div>
