---
import ButtonFab from '@atoms/ButtonFab.astro'

const { class: classes, ...props } = Astro.props
---

<div
	class:list={[
		'fixed inset-y-0 right-0 md:right-4 lg:right-14 z-[150] flex flex-col justify-center items-center r-hide-overflow translate-x-full opacity-0 scale-x-95 invisible transition duration-300 ease-in-out',
		classes,
	]}
	aria-labelledby='modal-title'
	role='dialog'
	aria-modal='true'
	{...props}>
	<div
		class='relative r-hide-overflow rounded-2xl sm:rounded-[1.5rem] h-[calc(100vh-2rem)] bg-white w-[calc(100%-2rem)] sm:max-w-[30rem]'>
		<ButtonFab
			data-drawer-close
			class='fixed top-3 right-3'
			icon='close-x'
		/>
		<slot />
	</div>
</div>
