---
import { _regions } from '@scripts/store'
import HeadingSection from '@blocks/HeadingSection.astro'
import CardRegion from '@blocks/CardRegion.astro'
import _getRegions from '@scripts/all-regions'

const { class: classes, ...props } = Astro.props
const regions = await _getRegions()
---

<div class:list={['h-full flex flex-col', classes]} data-regions {...props}>
	<HeadingSection
		level='h2'
		text={'JEE Africa Regions'}
		size='5'
		padding='small'
	/>
	<ul class='py-5 flex flex-col gap-2 flex-1 overflow-auto'>
		{
			regions.map((i) => (
				<CardRegion
					name={i.content.name}
					flag={i.content.flag}
					office={i.content.offices[0]}
					contact={i.content.contacts[0]}
				/>
			))
		}
	</ul>
</div>
