---
import HeadingSection from '@blocks/HeadingSection.astro'
import FiltersPeople from '@blocks/FiltersPeople.astro'

const { class: classes, ...props } = Astro.props
const emptyProps = {
	designations: [],
	locations: [],
	sectors: [],
	practices: [],
	selectedItems: { designation: '', practices: [], sectors: [], offices: [] },
}
---

<div
	class:list={['h-full flex flex-col', classes]}
	data-filters-people
	{...props}>
	<HeadingSection
		level='h2'
		text={'Filter the JEE People View'}
		size='5'
		padding='small'
	/>
	<div class='py-5 flex flex-col gap-2 flex-1 overflow-auto'>
		<FiltersPeople {...emptyProps} />
	</div>
</div>
