---
import Icon from '@atoms/Icon.astro'
import InputCheck from '@atoms/InputCheck.astro'
import InputRadio from '@atoms/InputRadio.astro'
import Text from '@atoms/Text.astro'
import _slugify from '@scripts/slugify'
import HeadingSection from '@blocks/HeadingSection.astro'

const {
	links,
	categories,
	locations,
	sectors,
	practices,
	class: classes,
	...props
} = Astro.props
---

<div class:list={['pt-6', classes]} {...props}>
	<HeadingSection
		text={'Filters'}
		level='h2'
		size='6'
		weight='semi'
		padding='small'
		hasResetButton
	/>
	<ul>
		<li class='accordion group border-b border-[var(--color-border-muted)]'>
			<div
				class='accordion__button r-transition flex items-center justify-between h-14 cursor-pointer'
				aria-expanded='false'>
				<Text
					tag='p'
					text='Sort by'
					color='body'
					size='copy'
					weight='semi'
					family='display'
				/>
				<Icon
					name='caret-down'
					aria-hidden='true'
					class='accordion__icon block w-5 text-[var(--color-text-caption)] opacity-70 group-hover/button:opacity-100 shrink-0 transition-all group-[.is-active]:opacity-100'
				/>
			</div>
			<div
				class='accordion__content overflow-hidden max-h-0 transition-all ease-in-out'>
				<fieldset
					class='max-w-full pt-1 px-4 pb-4 transition-[height] duration-[250ms]'>
					<legend
						set:text='Filter JEE Insights by Category'
						class='sr-only'
					/>
					<div class='space-y-3'>


					</div>
				</fieldset>
			</div>
		</li>
	</ul>
</div>
