---
import ButtonFab from '@atoms/ButtonFab.astro'
import ButtonMore from '@atoms/ButtonMore.astro'
import Text from '@atoms/Text.astro'

const {
	text,
	level,
	underline = true,
	padding = 'default',
	hasCarouselControls,
	isFromCollection,
	hasResetButton,
	link,
	label,
	size,
	class: classes,
	...props
} = Astro.props
---

<div
	class:list={[
		'flex items-center justify-between',
		underline && 'border-b border-[var(--color-border-accent)]',
		padding === 'default' && 'pb-2 md:pb-3',
		padding === 'small' && 'pb-[0.4125rem]',
		padding === 'none' && 'pb-0',
		classes,
	]}
	{...props}>
	<Text
		tag={level || 'span'}
		text={text}
		color='title'
		size={size}
		family='display'
		weight='bold'
		tighten
		class=''
	/>
	{
		hasCarouselControls && (
			<div class='hidden lg:flex lg:items-center lg:gap-2'>
				<ButtonFab
					style='brand'
					label='Control Carousel'
					icon='caret-left'
					class='swiper-prev'
				/>
				<ButtonFab
					style='brand'
					label='Control Carousel'
					icon='caret-right'
					class='swiper-next'
				/>
			</div>
		)
	}
	{isFromCollection && <ButtonMore label={label} link={link} />}
	{
		hasResetButton && (
			<Text tag='button' text='Reset' color='caption' data-reset-form />
		)
	}
</div>