---
import Icon from '@atoms/Icon.astro'
import Text from '@atoms/Text.astro'
import _unslash from '@scripts/unslash'
import ListLink from '@blocks/ListLink.astro'

const { links, class: classes, ...props } = Astro.props
---

<ul class:list={[classes, 'flex flex-col']} {...props}>
	{
		links.map((item) => (
			<li class=''>
				<div
					class='group/button r-transition flex items-center justify-between h-12'
					r-accordion>
					<Text
						size='emphasis'
						text={item.label}
						weight='semi'
						color='body-light'
						class='opacity-90 group-hover/button:opacity-100 lg:opacity-100'
					/>
					<Icon
						name='caret-down'
						class='block w-5 text-[var(--color-lightest)] opacity-50 group-hover/button:opacity-100'
					/>
				</div>
				<ul class="flex flex-col pt-2">
					{item.children.map((link) => (
						<ListLink link={link}/>
					))}
				</ul>
			</li>
		))
	}
</ul>
