---
import Icon from '@atoms/Icon.astro'

const { links, class: classes, ...props } = Astro.props
---

<ul class:list={[classes, 'flex items-center gap-6']} {...props}>
	{
		links.map((item) => (
			<li class="group">
				<a
					href={item.url.url}
					target='_blank'
					rel='noopener noreferrer'
                    class="text-[var(--color-muted)] opacity-70 group-hover:text-[var(--color-main)] group-hover:opacity-100">
					<Icon name={item.name} class='h-6' />
					<span class='sr-only' set:text={item.name} />
				</a>
			</li>
		))
	}
</ul>
