---
import Icon from '@atoms/Icon.astro'
import Text from '@atoms/Text.astro'
import _slug from '@scripts/slug'
import _slugify from '@scripts/slugify'
import _unslash from '@scripts/unslash'

const { link, class: classes, ...props } = Astro.props
---

<li class='group/link'>
	<a
		href={_slug(link.link)}
		class='flex flex-col gap-0.5 py-1'>
		<Text
			size='footnote'
			text={link.label}
			color='body-light'
			class='opacity-70 group-hover/link:opacity-100'
		/>
		<Icon
			name='highlight'
			class='fix-svg-stroke w-6 text-(--color-text-emphasis) opacity-0 translate-y-1.5 group-hover/link:opacity-100 group-hover/link:translate-y-0'
		/>
	</a>
</li>
