---
import Icon from '@atoms/Icon.astro'
import Text from '@atoms/Text.astro'
import _unslash from '@scripts/unslash'
import ListLink from '@blocks/ListLink.astro'

const { links, class: classes, ...props } = Astro.props
---

<ul class:list={[classes, 'flex flex-col']} {...props}>
	{
		links.map((item) => (
			<li class='accordion'>
				<div
					class='group/button accordion__button r-transition flex items-center justify-between h-12 cursor-pointer'
					aria-expanded='false'
					aria-controls={`${item.label} Links`}>
					<Text
						size='emphasis'
						text={item.label}
						weight='semi'
						color='body-light'
						class='opacity-90 group-hover/button:opacity-100 lg:opacity-100 pointer-events-none'
					/>
					<Icon
						name='caret-down'
						aria-hidden='true'
						class='accordion__icon block w-5 text-[var(--color-lightest)] opacity-50 group-hover/button:opacity-100 shrink-0 transition-all'
					/>
				</div>
				<div class='accordion__content max-h-0 overflow-hidden transition-all ease-in-out'>
					<ul class='pt-2 flex flex-col max-w-full transition-[height] duration-[250ms]'>
						{item.children.map((link) => (
							<ListLink link={link} />
						))}
					</ul>
				</div>
			</li>
		))
	}
</ul>
