---
const { class: classes, ...props } = Astro.props
---

<div class:list={['', classes]} data-locations {...props}>
	Locations Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi,
	debitis cupiditate sit, architecto laborum aliquam eveniet consectetur
	placeat adipisci dolorem ut pariatur qui excepturi culpa nemo, numquam
	aperiam quisquam unde!
</div>
