---
const { class: classes, ...props } = Astro.props
---

<div
	class='relative z-[150]'
	aria-labelledby='modal-title'
	role='dialog'
	aria-modal='true'>
	<div class='fixed inset-0 w-screen'>
		<div
			class='flex min-h-full items-end justify-center text-center sm:items-center p-4 r-hide-overflow'>
			<div
				class='overflow-auto rounded-2xl md:rounded-[2rem] bg-[var(--color-bg-default)] px-4 pt-6 md:pt-8 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-screen-sm sm:p-10 h-full max-h-[32.5rem] md:max-h-[42.5rem]'>
				<div data-modal-content class="pb-6 md:pb-8">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit.
					Tenetur ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis. Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
					ea impedit, excepturi quibusdam eligendi accusantium
					voluptatem esse corporis? Nisi dolores nulla amet, similique
					eaque obcaecati asperiores quos soluta labore quis.
				</div>
			</div>
		</div>
	</div>
</div>
