---
import HeadingSection from '@blocks/HeadingSection.astro'
import Newsletter from '@blocks/Newsletter.astro'

const { class: classes, ...props } = Astro.props
---

<div class:list={['', classes]} {...props}>
	<Newsletter formId='modal-newsletter' headingType={''} modal/>
</div>
