---
const { class: classes, ...props } = Astro.props
---

<div class:list={['', classes]} {...props}>
	<h2>Modal newsletter</h2>
	<div>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
		atque officiis harum inventore ex voluptatem quod consequatur eos,
		consectetur officia ipsum cum ea. Suscipit minima magni atque voluptas
		quae eius.Lorem ipsum dolor sit amet consectetur adipisicing elit.
		Repudiandae atque officiis harum inventore ex voluptatem quod
		consequatur eos, consectetur officia ipsum cum ea. Suscipit minima magni
		atque voluptas quae eius.Lorem ipsum dolor sit amet consectetur
		adipisicing elit. Repudiandae atque officiis harum inventore ex
		voluptatem quod consequatur eos, consectetur officia ipsum cum ea.
		Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor sit
		amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.Lorem ipsum dolor
		sit amet consectetur adipisicing elit. Repudiandae atque officiis harum
		inventore ex voluptatem quod consequatur eos, consectetur officia ipsum
		cum ea. Suscipit minima magni atque voluptas quae eius.
	</div>
</div>
