---
import NavItem from '@atoms/NavItem.astro'
import NavLink from '@atoms/NavLink.astro'
import HeadingStretch from '@blocks/HeadingStretch.astro'
import _slug from '@scripts/slug'
import _slugify from '@scripts/slugify'
import HeadingSection from '@blocks/HeadingSection.astro'
import NavDropdownLink from '@atoms/NavDropdownLink.astro'

const { links, class: classes, ...props } = Astro.props
---

<ul class:list={['flex flex-col', classes]} {...props}>
    {
        links.map((i) => (
            <li class='group/list'>
                <NavDropdownLink
                    href={_slug(i.link)}
                    aria-label={`${i.label} Page`}
                    label={i.label}
                    target='_blank'
                />
            </li>
        ))
    }
</ul>
