---
import NavItem from '@atoms/NavItem.astro'
import NavLink from '@atoms/NavLink.astro'
import HeadingStretch from '@blocks/HeadingStretch.astro'
import _slug from '@scripts/slug'
import _slugify from '@scripts/slugify'

const { links, class: classes, ...props } = Astro.props
---

<li class:list={['grid grid-cols-3 gap-8 max-w-screen-md', classes]} {...props}>
	{
		links.map((i) => (
			<ul>
				<li class=''>
					<HeadingStretch text={i.label} />
					<ul>
						{i.children.map((j) => (
							<NavItem
								href={_slug(j.link)}
								data-anchor={_slugify(
									j.link.cached_url,
								)}
								aria-label={`${j.label} Page`}>
								<NavLink link={j} />
							</NavItem>
						))}
					</ul>
				</li>
			</ul>
		))
	}
</li>
