---
const { links, class: classes, ...props } = Astro.props
---

<div
	class:list={[
		'',
		classes,
	]}
	{...props}>
	Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum veritatis reiciendis asperiores fuga quidem doloremque, reprehenderit laboriosam? Ipsam, assumenda minima aliquid aliquam quam corrupti reiciendis! Provident repudiandae totam omnis non.
</div>
