---
import Icon from '@atoms/Icon.astro'
import NavItem from '@atoms/NavItem.astro'
import _slug from '@scripts/slug'
import _slugify from '@scripts/slugify'
import _empty from '@scripts/empty'

const { links, class: classes, ...props } = Astro.props
---

<div class:list={[classes, 'flex items-start justify-end']} {...props}>
	Tools here...
</div>
