---
import Icon from '@atoms/Icon.astro'
import ButtonFlat from '@atoms/ButtonFlat.astro'
import _slug from '@scripts/slug'
import _slugify from '@scripts/slugify'
import _empty from '@scripts/empty'
import ButtonFab from '@atoms/ButtonFab.astro'

const { links, class: classes, ...props } = Astro.props
---

<div class:list={[classes, 'flex items-start justify-end py-4 gap-3']} {...props}>
	<ButtonFlat link={links[2]} />
	<div class="flex flex-col">
		<ButtonFab link={links[1]} icon='africa' />
	</div>
</div>
