---
const { class: classes, ...props } = Astro.props
---

<div class:list={['', classes]} data-search {...props}>
    <form>
        Search ipsum dolor sit amet consectetur, adipisicing elit. Sit quia aliquid ad obcaecati corrupti, saepe ullam voluptas, voluptatibus velit consequuntur maxime dignissimos explicabo deleniti quibusdam dicta quidem in hic autem.
    </form>
</div>
