---
import InputText from '@atoms/InputText.astro'
import HeadingSection from '@blocks/HeadingSection.astro'
import HeadingStretch from '@blocks/HeadingStretch.astro'

const { class: classes, ...props } = Astro.props
---

<form class:list={['flex flex-col h-full', classes]} data-search {...props}>
	<div class='flex flex-col gap-3 pb-3'>
		<HeadingSection
			level='h2'
			text={'Search JEE.Africa'}
			size='5'
			padding='small'
		/>
		<InputText
			label='Search JEE Africa'
			id='global-search'
			name='Search JEE Africa'
			class='w-full'
			isSearch
		/>
		<HeadingStretch tag='h3' text={`15 results for "dre"`} />
	</div>
	<div class='pt-1 pb-4 flex flex-col gap-2 flex-1 overflow-auto'>
		Search ipsum dolor sit amet consectetur adipisicing elit. Optio
		reiciendis sapiente dolore unde illo, culpa perspiciatis, numquam et
		doSearch qui tenetur amet ea quod beatae officiis, consequatur alias
		doloribus dignissimos. Search ipsum dolor sit amet consectetur
		adipisicing elit. Delectus excepturi, vitae quis nulla fugiat eligendi
		minima voluptatum repellat, dignissimos possimus, molestias odio tempore
		aperiam neque nam! Ea est doloribus nobis! Lorem ipsum dolor sit amet
		consectetur adipisicing elit. Molestiae iure sed id laudantium vero
		officia autem eveniet impedit alias cumque nisi at recusandae suscipit
		aut, eius ipsam. Quo, corporis saepe.
	</div>
</form>
