---
import { _fontSize } from '@scripts/font-size'
import _slugify from '@scripts/slugify'

const { headings, class: classes, ...props } = Astro.props
---

<div class:list={['', classes]} {...props}>
	<label for='navigate-page' class='sr-only' set:text='Navigate Page' />
	<select
		id='navigate-page'
		name='navigate-page'
		class:list={[
			'block w-full rounded-md border-0 py-4 pl-4 sm:pl-4 pr-9 text-gray-900 ring-1 ring-inset ring-[var(--color-border-muted)] focus:ring-2 focus:ring-[var(--color-emphasis)] font-medium',
			_fontSize('s6'),
		]}>
		{
			headings.map((h, idx) => (
				<option
					set:text={h}
					selected={idx === 0}
					data-section={_slugify(h)}
				/>
			))
		}
	</select>
</div>
