---
import { _fontSize } from '@scripts/font-size'
import _slugify from '@scripts/slugify'

const { headings, class: classes, ...props } = Astro.props
---

<ul
	class:list={[
		'flex xl:flex-col items-center xl:items-end justify-between border-b border-[var(--color-border-muted)] xl:border-b-0 xl:border-r [&>*]:xl:text-right',
		classes,
	]}
	{...props}>
	{
		headings.map((h) => (
			<li
				class:list={[
					_fontSize('1hx'),
					'group translate-y-[0.1rem] xl:translate-x-[0.1rem]',
				]}>
				<a
					href={`#${_slugify(h)}`}
					set:text={h}
					class='flex text-right font-semibold font-display p-4 xl:pl-0 [&.is-in-view]:border-b-[3px] [&.is-in-view]:xl:border-r-[3px] xl:!border-b-0 [&.is-in-view]:border-[var(--color-emphasis)] group-hover:text-[var(--color-emphasis)] [&.is-in-view]:text-[var(--color-emphasis)]'
				/>
			</li>
		))
	}
</ul>
