---
import Quote from '@blocks/Quote.astro'

const { quotes, class: classes, ...props } = Astro.props
---

<div class:list={['swiper swiper-quotes h-full space-y-6', classes]} {...props}>
	<ul class='swiper-wrapper !h-auto'>
		{
			quotes.map((quote) => (
				<li class='swiper-slide'>
					<Quote quote={quote} />
				</li>
			))
		}
	</ul>
	<div
		class='swiper-pagination !relative !text-left !bottom-0 !left-0 [&>*]:!size-2.5 [&>.swiper-pagination-bullet-active]:!bg-(--color-main) [&>.swiper-pagination-bullet-active]:!w-10 [&>.swiper-pagination-bullet-active]:!rounded-3xl'
		aria-hidden='true'>
	</div>
</div>
