---
import ButtonFab from '@atoms/ButtonFab.astro'
import Icon from '@atoms/Icon.astro'
import _empty from '@scripts/empty'

const { images, limit = 8, class: classes, ...props } = Astro.props
---

<div class:list={[classes, 'swiper swiper-awards relative']} {...props}>
	<ul class='swiper-wrapper'>
		{
			images
				.filter((item) => !_empty(item.content.plaque.filename))
				.map((item) => (
					<li class='swiper-slide'>
						<img
							src={item.content.plaque.filename}
							alt={item.content.name}
							class='object-contain object-top w-20 h-auto'
						/>
					</li>
				))
		}
	</ul>
	<ButtonFab
		style='brand'
		label='Control Carousel'
		icon='caret-right'
		class='swiper-next absolute right-2 top-1/2 -translate-y-1/2 z-10'
	/>
</div>
