---
import ButtonFab from '@atoms/ButtonFab.astro'
import Icon from '@atoms/Icon.astro'
import { _empty } from '@scripts/utils/empty'

const { images, limit = 9, class: classes, ...props } = Astro.props
---

<div
	class:list={[
		classes,
		'swiper swiper-awards relative [transform:translateZ(0)]',
	]}
	{...props}>
	<ul class='swiper-wrapper'>
		{
			images
				.filter((item) => !_empty(item.content.plaque.filename))
				.map((item) => (
					<li class='swiper-slide'>
						<img
							src={item.content.plaque.filename}
							alt={item.content.name}
							class='object-contain object-top w-20 h-auto saturate-0 sepia-[.25]'
						/>
					</li>
				))
		}
	</ul>
	<div
		class='fixed -right-1 lg:right-0 top-0 z-10 bg-[var(--color-dark)] h-full w-14'>
		<ButtonFab
			style='brand-inverted'
			label='Control Carousel'
			icon='caret-right'
			class='swiper-next fixed right-0 lg:right-2 top-1/2 -translate-y-1/2 opacity-100'
		/>
	</div>
</div>
