---
import Icon from '@atoms/Icon.astro'
import Overlay from '@atoms/Overlay.astro'

const { video, class: classes, ...props } = Astro.props
---

<div
	class:list={[
		'flex justify-center w-full aspect-video bg-[var(--color-bg-default-elevated)] rounded-2xl md:rounded-3xl relative overflow-clip [transform:translateZ(0)]',
		classes,
	]}
	r-autoplay-video
	{...props}>
	<iframe
		src=`https://www.youtube.com/embed/${video}?controls=0&autoplay=1&mute=1&playsinline=1&loop=1`
		class='absolute inset-0 size-full'></iframe>
	<button
		class='play-video absolute z-30 r-dead-center text-[var(--color-accent)] rounded-full'
		r-autoplay-video-ctrl>
		<Icon name='play-circle' class='size-16 md:size-26' />
	</button>
	<Overlay opacity='opacity-20' class="z-20"/>
</div>
