---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import HeadingSection from '@blocks/HeadingSection.astro'
import { _odd, _xPadding } from '@scripts/snips'
import CardPerson from '@blocks/CardPerson.astro'
import { _odd, _spaceY } from '@scripts/snips'
import _slugify from '@scripts/slugify'

const {
		blok,
		altComponent,
		altOverlap,
		altHeading,
		altLabel,
		altLink,
		altPeople,
		altCollection,
		class: classes,
		...props
	} = Astro.props,
	people = altPeople ? altPeople : blok.people,
	collection = altCollection ? altCollection : blok.collection[0]
---

<Section
	component={altComponent ? altComponent : blok.component}
	overlap={altOverlap ? altOverlap : blok.overlap}
	id={altHeading ? _slugify(altHeading) : _slugify(blok.heading)}>
	<Wrapper margins={false}>
		<Grid>
			<div class:list={['col-span-full', _spaceY()]}>
				<div
					class:list={[
						altComponent
							? [
									_xPadding('both-md-down-lg-r'),
									'lg:max-w-[48rem]',
								]
							: _xPadding('both-lg-down-l'),
					]}>
					<HeadingSection
						level='h3'
						text={altHeading ? altHeading : blok.heading}
						size='4'
						isFromCollection
						label={altLabel ? altLabel : collection.label}
						link={altLink ? altLink : collection.link}
					/>
				</div>
				<div
					class:list={[
						altComponent
							? _xPadding('left-md-down')
							: _xPadding('left-lg-down-l'),
					]}>
					<ul class='flex gap-4 overflow-auto snap-x pr-4 no-scrollbar'>
						{
							people.map((person, idx) => (
								<li class='shrink-0 !w-auto snap-start'>
									<CardPerson
										person={person}
										size='default'
									/>
								</li>
							))
						}
					</ul>
				</div>
			</div>
		</Grid>
	</Wrapper>
</Section>
