---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import HeadingSection from '@blocks/HeadingSection.astro'
import { _xPadding } from '@scripts/snips'

const { blok, class: classes, ...props } = Astro.props,
	values = blok.values
---

<Section component={blok.component} overlap={blok.overlap}>
	<Wrapper margins={false} class:list={[_xPadding('both-lgdown-l')]}>
		<Grid>
			<div class='col-span-full space-y-3 md:space-y-4 lg:space-y-6'>
				<HeadingSection level='h3' text={blok.heading} size='4' />
			</div>
		</Grid>
	</Wrapper>
</Section>
