---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import BlockBentoBasic from '@blocks/BlockBentoBasic.astro'
import BlockBentoPlaques from '@blocks/BlockBentoPlaques.astro'
import BlockBentoHighlights from '@blocks/BlockBentoHighlights.astro'
import { _gridGap, _sectionPadding } from '@scripts/snips'

const { blok, class: classes, ...props } = Astro.props
---

<Section component={blok.component} title={blok.heading}>
	<Wrapper margins={false} marginsMd>
		Quotes...
	</Wrapper>
</Section>
