---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import HeadingSection from '@blocks/HeadingSection.astro'
import { _odd, _xPadding } from '@scripts/snips'
import { _odd, _spaceY } from '@scripts/snips'
import CardInsight from '@blocks/CardInsight.astro'
import _slugify from '@scripts/slugify'

const {
	blok,
	bleed,
	altComponent,
	altOverlap,
	altHeading,
	altLabel,
	altLink,
	altInsights,
	altCollection,
	isCollection = true,
	controls,
	class: classes,
	...props
} = Astro.props
const insights = altInsights ? altInsights : blok.insights
const collection = altCollection ? altCollection : blok.collection[0]
const fw = blok?.bleed || bleed
const scrollbar = false
---

<Section
	component={altComponent ? altComponent : blok.component}
	overlap={altOverlap ? altOverlap : blok.overlap}
	id={altHeading ? _slugify(altHeading) : _slugify(blok.heading)}>
	<Wrapper margins={false}>
		<Grid>
			<div class:list={['col-span-full', _spaceY()]}>
				<div
					class:list={[
						altComponent
							? _xPadding('both-mddown-lg-l')
							: _xPadding('both-lg-down-xl-r'),
						altComponent && 'lg:max-w-[48rem]',
					]}>
					<HeadingSection
						level='h2'
						text={altHeading ? altHeading : blok.heading}
						size='4'
						isFromCollection={isCollection}
						hasCarouselControls={controls}
						label={altLabel ? altLabel : collection.label}
						link={altLink ? altLink : collection.link}
					/>
				</div>
				<div
					class:list={[
						altComponent
							? _xPadding('left-md-down')
							: _xPadding('left-lgdown-l'),
					]}>
					<ul
						class:list={['flex gap-4 overflow-auto snap-x pr-4', scrollbar ? 'scrollbar-thin scrollbar-track-inherit scrollbar-thumb-[#FF2626]' : 'no-scrollbar']}>
						{
							insights.map((item, idx) => (
								<li class='shrink-0 !w-[20rem] !h-[24.5rem] group relative overflow-clip rounded-tl-[1.5rem] rounded-tr-[2rem] snap-start'>
									<CardInsight piece={item} />
								</li>
							))
						}
					</ul>
				</div>
			</div>
		</Grid>
	</Wrapper>
</Section>
