---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import HeadingSection from '@blocks/HeadingSection.astro'
import { _odd, _xPadding } from '@scripts/snips'
import CardValue from '@blocks/CardValue.astro'
import { _odd, _spaceY } from '@scripts/snips'
import _slugify from '@scripts/slugify'

const { blok, class: classes, ...props } = Astro.props,
	values = blok.values
---

<Section
	component={blok.component}
	overlap={blok.overlap}
	id={_slugify(blok.heading)}>
	<Wrapper>
		<div class="bg-[var(--color-bg-default-elevated)] rounded-2xl md:rounded-[2rem] px-4 sm:px-6 md:px-12 py-6 sm:py-8 md:py-10 lg:py-[4.5rem]">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, rerum architecto cupiditate rem hic molestias et, possimus ullam similique maxime voluptatum veritatis officia velit corporis odio adipisci voluptates tenetur in?
        </div>
	</Wrapper>
</Section>
