---
import Grid from '@layouts/Grid.astro'
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import { _xPadding, _gridGap, _spaceY } from '@scripts/snips'
import HeadingSection from '@blocks/HeadingSection.astro'
import RichText from '@atoms/RichText.astro'
import Number from '@atoms/Number.astro'
import _slugify from '@scripts/slugify'

const { blok, class: classes, ...props } = Astro.props
---

<Section component={blok.component} id={_slugify(blok.heading)}>
	<Wrapper>
		<Grid class:list={[_gridGap()]}>
			<div
				class:list={[
					'col-span-full lg:[grid-area:1/2/2/7] flex flex-col gap-y-4 lg:flex-row lg:flex-wrap gap-8 lg:gap-10',
				]}>
				{
					blok.numbers.map((i) => (
						<Number
							number={i}
							class='min-w-[14.5rem] lg:max-w-[14.5rem]'
							headlineSize="body"
						/>
					))
				}
			</div>
			<div
				class:list={[
					'col-span-full lg:[grid-area:1/7/2/12]',
					_spaceY(),
				]}>
				B
			</div>
		</Grid>
	</Wrapper>
</Section>
