---
import Grid from '@layouts/Grid.astro'
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import { _xPadding, _gridGap, _spaceY } from '@scripts/snips'
import HeadingSection from '@blocks/HeadingSection.astro'
import Number from '@atoms/Number.astro'
import _slugify from '@scripts/slugify'
import SwiperQuotes from '@blocks/SwiperQuotes.astro'
import Icon from '@atoms/Icon.astro'

const { blok, class: classes, ...props } = Astro.props
---

<Section component={blok.component} id={_slugify(blok.heading)}>
	<Wrapper>
		<Grid class:list={[_gridGap()]}>
			<div
				class:list={[
					'col-span-full md:[grid-area:1/1/2/5] lg:[grid-area:1/1/2/7] xl:[grid-area:1/2/2/7] flex flex-col gap-8 md:flex-row md:flex-wrap md:gap-10',
				]}>
				{
					blok.numbers.map((i) => (
						<Number
							number={i}
							class='max-w-full lg:max-w-[14.5rem]'
							headlineSize='body'
						/>
					))
				}
			</div>
			<div
				class:list={[
					'col-span-full md:[grid-area:1/5/2/9] lg:[grid-area:1/7/2/13] xl:[grid-area:1/7/2/12] relative',
					_spaceY(),
				]}>
				<div
					class='absolute -top-8 -left-8 md:-top-14 md:-left-12'>
					<Icon
						name='quote-open'
						class='size-24 md:size-40 text-[var(--color-text-title)] opacity-10'
					/>
				</div>
				<SwiperQuotes quotes={blok.quotes} />
			</div>
		</Grid>
	</Wrapper>
</Section>
