---
import Grid from '@layouts/Grid.astro'
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import { _xPadding, _gridGap, _spaceY } from '@scripts/snips'
import _slugify from '@scripts/slugify'
import HeadingStretch from '@blocks/HeadingStretch.astro'
import RichText from '@atoms/RichText.astro'

const { blok, class: classes, ...props } = Astro.props
---

<Section component={blok.component} id={_slugify(blok.heading)}>
	<Wrapper>
		<Grid class:list={[_gridGap(), '']}>
			<div
				class:list={[
					'col-span-full md:[grid-area:1/1/2/4] lg:[grid-area:1/1/2/7] xl:[grid-area:1/2/2/7] flex flex-col gap-8 md:flex-row md:flex-wrap md:gap-10 self-start h-full',
				]}>
				<HeadingStretch tag='h2' text={blok.heading} />
			</div>
			<div
				class:list={[
					'col-span-full md:[grid-area:1/4/2/9] lg:[grid-area:1/7/2/13] xl:[grid-area:1/7/2/12] relative',
					_spaceY(),
				]}>
				<RichText
					text={blok.body}
					pType='body'
					class='prose-li:list-image-[url(/graphics/marker.svg)]'
				/>
			</div>
		</Grid>
	</Wrapper>
</Section>
