---
import Grid from '@layouts/Grid.astro'
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import { _xPadding, _gridGap, _spaceY } from '@scripts/snips'
import HeadingSection from '@blocks/HeadingSection.astro'
import RichText from '@atoms/RichText.astro'
import Number from '@atoms/Number.astro'
import _slugify from '@scripts/slugify'

const { blok, class: classes, ...props } = Astro.props
---

<Section component={blok.component} id={_slugify(blok.heading)}>
	<Wrapper>
		<Grid class:list={[_gridGap()]}>
			<div
				class:list={[
					'col-span-full ml:[grid-area:1/1/2/6] lg:[grid-area:1/1/2/9]',
				]}>
				<div class='overflow-clip rounded-[2rem]'>
					Impacts...
				</div>
			</div>
			<div
				class:list={[
					'col-span-full ml:[grid-area:1/6/2/9] lg:[grid-area:1/9/2/13]',
					_spaceY(),
				]}>

			</div>
		</Grid>
	</Wrapper>
</Section>
