---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import { _xPadding, _sectionPadding } from '@scripts/snips'

const { blok } = Astro.props,
	headings = blok.sections.map(section => section.heading)

console.log(headings)
---

<Section
	component={blok.component}
	title={blok.heading}
	overlap
	class='r-hide-overflow z-20 bg-[var(--color-bg-default)] rounded-t-[2rem] md:rounded-t-[3.5rem] lg:rounded-t-[4.5rem]'>
	<Wrapper margins={false} class:list={['overflow-x-clip']}>
		<Grid
			class='rounded-t-[2rem] md:rounded-t-[3.5rem] lg:rounded-t-[4.5rem] overflow-clip'>
			<div
				class:list={[
					'col-span-full xl:[grid-area:1/1/2/3] self-start sticky top-0 bg-[var(--color-bg-default)] z-10',
					_sectionPadding('top'),
					_xPadding('both-lgdown'),
				]}>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Bork <i>Nam Pyrrho, Aristo, Erillus iam diu abiecti.</i>
				</p>
			</div>
			<div class='col-span-full xl:[grid-area:1/4/2/13]'>
				{
					blok.sections.map((blok) => {
						return <StoryblokComponent blok={blok} />
					})
				}
			</div>
		</Grid>
	</Wrapper>
</Section>
