---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import { _xPadding, _sectionPadding } from '@scripts/snips'

const { blok } = Astro.props
---

<Section
	component={blok.component}
	title={blok.heading}
	overlap
	class='r-hide-overflow z-20 bg-[var(--color-bg-default)] rounded-t-[2rem] md:rounded-t-[3.5rem] lg:rounded-t-[4.5rem]'>
	<Wrapper
		class:list={[_xPadding(), _sectionPadding('top'), 'overflow-x-clip']}>
		<Grid
			class='rounded-t-[2rem] md:rounded-t-[3.5rem] lg:rounded-t-[4.5rem]'>
			<div
				class='col-span-full lg:[grid-area:1/1/2/3] self-start sticky top-0 lg:top-20 bg-[var(--color-bg-default)]'>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Bork <i>Nam Pyrrho, Aristo, Erillus iam diu abiecti.</i>
				</p>
			</div>
			<div class='col-span-full lg:[grid-area:1/4/2/13]'>
				
			</div>
		</Grid>
	</Wrapper>
</Section>
