---
import Head from '@layouts/Head.astro'
import Header from '@layouts/Header.astro'
import Footer from '@layouts/Footer.astro'
import { useStoryblokApi } from '@storyblok/astro'

const { pageTitle, pageDescription, pageThumbnail, showNav, isError } =
		Astro.props,
	api = useStoryblokApi(),
	{ data: settings } = await api.get('cdn/stories/settings', {
		version: import.meta.env.DEV ? 'draft' : 'published',
		resolve_links: 'url',
	}),
	site = settings.story.content

---

<!doctype html>
<html lang='en' class='scroll-smooth bg-white'>
	<Head
		title={`${pageTitle} | ${site.title}`}
		description={pageDescription || site.description}
		image={pageThumbnail || '/thumbnail.png'}
	/>
	<body
		class=''>
		<Header
            nav={site.nav}
		/>
		<main
			class:list={[]}
			id='swup'>
			<slot />
		</main>
		<Footer

		/>
		<script src='@scripts/global.js'></script>
	</body>
</html>
