---
import Icon from '@atoms/Icon.astro'
import TitleHidden from '@blocks/TitleHidden.astro'
import Head from '@layouts/Head.astro'
import Wrapper from './Wrapper.astro'
import { _getSettings } from '@scripts/data/get-settings'

const { pageTitle, pageDescription, pageThumbnail } = Astro.props
const settingsData = await _getSettings()
const site = settingsData.data.story.content
---

<!doctype html>
<html lang='en' class:list={[`scroll-smooth bg-(--color-bg-default)`]}>
	<Head
		title={`Error - 404 - Page Not Found | ${site.title}`}
		description={`The page you are looking for might have been removed, moved, or is temporarily unavailable. Kindly use other available links to navigate our site.`}
		image={'/thumbnail.png'}
	/>
	<body
		class='max-w-screen-3xl mx-auto flex flex-col min-h-screen overflow-x-clip'>
		<TitleHidden tag='h1' title={'Error - 404 - Page Not Found)'} />
		<Wrapper class='h-26 lg:h-32 flex items-center'>
			<a href='/'>
				<Icon name='logo' class='h-12' />
			</a>
		</Wrapper>
		<main class:list={['mb-auto']}>
			<slot />
		</main>
	</body>
</html>
