---

const year = new Date().getFullYear(),
	{
		class: classes,
		...props
	} = Astro.props
---

<footer
	id='footer'
	class:list={[classes]}
	{...props}>
	<div
		class=''>
        Footer...
	</div>
</footer>
