---
import Icon from '@atoms/Icon.astro'
import NavDesktop from '@blocks/NavDesktop.astro'
import NavTools from '@blocks/NavTools.astro'

const { nav, tools, class: classes, ...attrs } = Astro.props
---

<header class:list={['h-16 md:h-20 lg:h-[104px] px-3 md:px-8 lg:px-10 xl:px-20', classes]} {...attrs}>
	<nav
		class='grid grid-cols-4 md:grid-cols-8 lg:grid-cols-12 gap-3 md:gap-6 lg:gap-8 h-full'>
        <a
            href='/'
            class='col-span-2 justify-self-start w-full h-full flex items-center'>
            <Icon name='logo' class='h-8 md:h-10 xl:h-12' />
        </a>
		<NavDesktop
			links={nav}
			class='hidden lg:flex lg:col-span-8 lg:col-start-3 w-full justify-end'
		/>
		<NavTools
			class='col-span-2 md:col-span-6 lg:col-span-2 lg:col-start-11 w-full justify-self-end'
            links={tools}
		/>
	</nav>
</header>
