---
import Icon from '@atoms/Icon.astro'
import NavDesktop from '@blocks/NavDesktop.astro'
import NavTools from '@blocks/NavTools.astro'
import Grid from '@layouts/Grid.astro'
import Wrapper from '@layouts/Wrapper.astro'
import TitleHidden from '@blocks/TitleHidden.astro'

const { nav, tools, class: classes, ...props } = Astro.props
---

<Wrapper
	tag='header'
	class:list={['h-[var(--spacing-1)] md:h-[var(--spacing-2)] lg:h-[var(--spacing-3)] bg-[var(--color-bg-default)] flex items-center z-50', classes]}
    data-header
	{...props}>
	<Grid tag='nav' class="w-full">
		<TitleHidden tag='h2' title={'Navigation (Desktop View)'} />
		<a
			href='/'
			class='col-span-2 justify-self-start w-full h-full flex items-center translate-y-[0.125rem] -translate-x-[0.15625rem]'>
			<Icon name='logo' class='h-10 xl:h-[2.8rem]' />
		</a>
		<NavDesktop
			links={nav}
			class='hidden lg:flex lg:col-span-7 lg:col-start-3 w-full justify-end'
		/>
		<NavTools
			class='col-span-2 md:col-span-6 lg:col-span-3 lg:col-start-10 w-full justify-self-end translate-x-3'
			links={tools}
		/>
	</Grid>
</Wrapper>
