---
import { _sectionPadding } from '@scripts/snips'

const {
	component = null,
	title,
	poster,
	section = true,
	overlap,
	class: classes,
	...props
} = Astro.props
---

<section
	class:list={[
		`_section _section-${component} relative`,
		poster && 'pt-8 lg:pt-14 xl:pt-18',
		poster && _sectionPadding('bottom'),
		section & !overlap && _sectionPadding('both'),
		section & overlap && _sectionPadding('bottom'),
		classes,
	]}
	{...props}>
	{title && <h2 set:text={title} class='sr-only' />}
	<slot />
</section>
